/*
#21b7d0
#28225e 
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #21b7d0;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 12px 12px 0px;
}

nav input {
  margin-top: 5px;
  /* margin-bottom: 20px; */
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
}

form {
  width: 100%;
  text-align: center;
}

form input[type="date"] {
  margin-top: 5px;
  padding: 10px;
  width: 90%;
  border: none;
  border-radius: 5px;
}

#periodo-data label {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  background-color: #28225e;
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#periodo-data label:nth-child(1) {
  margin-top: 15px;
}

.logo{
  text-align: center;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.logo img {
  width: 140px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 10px 0px; */
  padding: 10px;
}

.nav-items input {
  /* margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: none; */
  width: 90%;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  border-radius: 5px;
}

.nav-items button {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  background-color: #283479;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

label {
  display: block;
  width: 80%;
  text-align: center;
  font-weight: bold;
  background-color: #28225e;
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

select {
  width: 90%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
}

/* Centraliza o menu na página */
.menu {
  display: flex;
  width: 90%;
  max-height: 90%;
  justify-content: flex-start;
	flex-direction: column;
  transition: all 1s ease-in-out;
  opacity: 0;
}

/* Define a largura do menu */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 85%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Estiliza cada item do menu */
.menu li {
  display: flex;
	text-align: center;
  justify-content: center;
	flex-direction: column;
  margin-bottom: 1rem;
  background-color: #21b7d0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.8s ease-in-out;
}

/* Estiliza o link dentro do item do menu */
.menu li a {
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

/* Estiliza o conteúdo que fica escondido */
.menu li .content {
  display: none;
  padding: 1rem;
  background-color: #28225e;
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

/* Estiliza o conteúdo quando está visível */
.menu li .content.show {
  display: block;
  border: 1px solid #ffffff;
}

#tabela {
  /* display: none; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-height: 80vh;
  gap: 10px;
}

#card-resumo {
  display: none;
}

.card-tabela {
  height: 140px;
  padding: 10px;
  background-color: #21b7d0;
  border: 2px solid #28225e;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}


.card-tabela h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.circle-tabela {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #28225e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.circle-tabela span {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

#tabela table {
  display: none;
  max-width: 70%;
  max-height: 80vh;
  overflow: auto;
}

#tabela th,
#tabela td {
  padding: 10px;
  text-align: center;
  border: 2px solid #000000;
  
}

#tabela th {
  background-color: #21b7d0;
  color: #000000;
  font-weight: bold;
  position: sticky;
  top: 0;
}

#tabela tr:nth-child(even) {
  background-color: #28225e;
  color: #fff;
}

#tabela tr {
  background-color: #fff;
  color: #000000;
}

#tabela tr:hover {
  background-color: #21b7d0;
}


.container {
  width: 80%;
  margin: 0 auto 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 32px;
  margin: 20px 0;
}

#chamadas-internas-efetuadas,
#chamadas-externas-efetuadas,
#resumo-chamadas-efetuadas,
#chamadas-externas-recebidas,
#tempo-chamada-externa,
#chamadas-internas-recebidas,
#tempo-chamada-interna,
#resumo-chamadas-recebidas {
  display: flex;
  width: 100%;
  margin: 12px 0px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#chamadas-internas .card,
#chamadas-externas .card,
#resumo-chamadas .card {
  width: 100%;
}

.cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.card {
  width: 165px;
  height: 150px;
  padding: 10px;
  background-color: #21b7d0;
  border: 2px solid #28225e;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.card h3 {
  margin-bottom: 16px;
  font-size: 16px;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #28225e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.circle span {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

#tempo-chamada-externa-efetuada,
#tempo-chamada-externa-recebida,
#tempo-chamada-interna-efetuada,
#tempo-chamada-interna-recebida {
  font-size: 24px;
}

/* MEDIA QUERY */

@media screen and (max-width:480px) {
  nav {
    background-color: #21b7d0;
    position: static;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    align-items: center;
  }

  nav img {
    margin-top: 20px;
    min-width: 160px;
  }

  .logo {
    text-align: center;
    width: 190px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 56px 0px 0px 0px;
    border-radius: 50%;
    background-color: #ffffff;
  }

  .nav-items input,
  label,
  select {
      width: 95%;
      padding: 8px;
      font-size: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 8px;
  }

  .nav-items label {
    width: 80%;
    background-color: #28225e;
    color: #ffffff;
    text-align: center;
  }

  h1 {
    font-size: 28px;
    margin: 24px 0px;
  }

  .container {
    width: 100vw;
    margin: 0 auto;
  }

  .cards {
    width: 95%;
    margin: 0 auto;
  }

  .circle {
    width: 135px;
    height: 135px;
  }

  .circle span {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
  }

  .card {
    width: 95%;
    margin: 20px 0;
  }

  .card p {
    font-size: 14px;
    padding: 10px;
  }
}


@media screen and (min-width:767px) and (max-width:960px) {
  nav {
    position: fixed;
    width: 25%;
  }

  .logo{
    width: 130px;
    height: 130px;
  }
  
  .logo img {
    width: 120px;
  }

  label {
    width: 90%;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
  }

  .nav-items input {
    width: 100%;
    padding: 5px;
    margin-bottom: 32px;
    font-size: 14px;
  }

  select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    margin-top: 5px;
  }

  .nav-items button {
    width: 100%;
    margin-top: 32px;
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
    margin: 30px 0px 20px 0px;
  }

  .container {
    width: 85%;
    margin: 0 auto 0 20%;
    justify-content: center;
  }

  .cards {
    width: 100%;
    flex-direction: column;
  }

  .card {
    width: 70%;
    height: 220px;
    margin: 10px 0px 10px 0px;
    padding: 10px;
  }

  .circle {
    width: 120px;
    height: 120px;
    margin: 0 auto 15px;
  }

  .circle span {
    font-size: 40px;
  }
}
