/*
#21b7d0
#28225e 
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #21b7d0;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 12px 12px 0px;
}

nav input {
  margin-top: 5px;
  /* margin-bottom: 20px; */
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
}

form {
  width: 100%;
  text-align: center;
}

form input[type="date"] {
  margin-top: 5px;
  padding: 10px;
  width: 90%;
  border: none;
  border-radius: 5px;
}

#periodo-data label {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  background-color: #28225e;
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#periodo-data label:nth-child(1) {
  margin-top: 15px;
}

.logo{
  text-align: center;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.logo img {
  width: 140px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 10px 0px; */
  padding: 10px;
}

.nav-items input {
  /* margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: none; */
  width: 90%;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  border-radius: 5px;
}

.nav-items button {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  background-color: #283479;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

label {
  display: block;
  width: 80%;
  text-align: center;
  font-weight: bold;
  background-color: #28225e;
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Centraliza o menu na página */
.menu {
  display: flex;
  width: 90%;
  max-height: 90%;
  justify-content: flex-start;
	flex-direction: column;
  transition: all 1s ease-in-out;
  opacity: 0;
}

/* Define a largura do menu */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  /* max-width: 800px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Estiliza cada item do menu */
.menu li {
  display: flex;
	text-align: center;
  justify-content: center;
	flex-direction: column;
  margin-bottom: 1rem;
  background-color: #21b7d0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.8s ease-in-out;
}

/* Estiliza o link dentro do item do menu */
.menu li a {
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

/* Estiliza o conteúdo que fica escondido */
.menu li .content {
  display: none;
  padding: 1rem;
  background-color: #28225e;
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

/* Estiliza o conteúdo quando está visível */
.menu li .content.show {
  display: block;
  border: 1px solid #ffffff;
}

#tabela {
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-height: calc(100vh - 120px);
  gap: 10px;
}

#card-resumo {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card-tabela {
  height: 130px;
  width: 140px;
  padding: 10px;
  background-color: #21b7d0;
  border: 2px solid #28225e;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}


.card-tabela h3 {
  font-size: 12px;
  margin-bottom: 10px;
}

.circle-tabela {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #28225e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.circle-tabela span {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

#tabela table {
  display: none;
  max-width: 100%;
  height: 70vh;
  overflow: auto;
}

#tabela th,
#tabela td {
  padding: 10px;
  text-align: center;
  border: 2px solid #000000;
  
}

#tabela th {
  background-color: #21b7d0;
  color: #000000;
  font-weight: bold;
  position: sticky;
  top: 0;
}

#tabela tr:nth-child(even) {
  background-color: #28225e;
  color: #fff;
}

#tabela tr {
  background-color: #fff;
  color: #000000;
}

#tabela tr:hover {
  background-color: #21b7d0;
}


.container {
  width: 75%;
  max-height: 100vh;
  margin: 0 auto 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 32px;
  margin: 20px 0;
}

#chamadas-internas-efetuadas,
#chamadas-externas-efetuadas,
#resumo-chamadas-efetuadas,
#chamadas-externas-recebidas,
#tempo-chamada-externa,
#chamadas-internas-recebidas,
#tempo-chamada-interna,
#resumo-chamadas-recebidas {
  display: flex;
  width: 100%;
  margin: 12px 0px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#chamadas-internas .card,
#chamadas-externas .card,
#resumo-chamadas .card {
  width: 100%;
}

.cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.card {
  width: 165px;
  height: 150px;
  padding: 10px;
  background-color: #21b7d0;
  border: 2px solid #28225e;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.card h3 {
  margin-bottom: 16px;
  font-size: 16px;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #28225e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.circle span {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

#tempo-chamada-externa-efetuada,
#tempo-chamada-externa-recebida,
#tempo-chamada-interna-efetuada,
#tempo-chamada-interna-recebida {
  font-size: 24px;
}

/* MEDIA QUERY */

@media screen and (max-width:480px) {
  .ocultar-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition-duration: 1s;
  }

  .ocultar-nav.hidden {
    opacity: 0;
    visibility: hidden;
  }

  nav img {
    max-width: 100px;
  }

  .logo {
    width: 110px;
    height: 110px;
    margin: 32px 0px 16px 0px;
  }

  .nav-items {
    width: 90%;
  }

  .nav-items input {
      width: 85%;
      padding: 8px;
      font-size: 12px;
      margin-top: 4px;
  }

  .nav-items label {
    width: 90%;
    padding: 8px;
  }

  .nav-items button {
    width: 95%;
    padding: 8px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 800;
  }

  form input[type="date"] {
    margin-top: 4px;
    padding: 8px;
    width: 85%;
  }
  
  #periodo-data label {
    width: 90%;
    padding: 8px;
  }
  
  #periodo-data label:nth-child(1) {
    margin-top: 5px;
  }


  /* Centraliza o menu na página */
.menu {
  position: relative;
  width: 100vw;
  max-height: 100vh;
  transition: all ease;
  transition-duration: 1s;
  z-index: -5;
}

/* Define a largura do menu */
.menu ul {
  width: 100vw;
}

/* Estiliza o conteúdo que fica escondido */
.menu li .content {
  width: 100%;
  padding: 16px;
}

.container {
  width: 100%;
  max-height: 100vh;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  margin: 0px;
}

#chamadas-internas-efetuadas,
#chamadas-externas-efetuadas,
#resumo-chamadas-efetuadas,
#chamadas-externas-recebidas,
#tempo-chamada-externa,
#chamadas-internas-recebidas,
#tempo-chamada-interna,
#resumo-chamadas-recebidas {
  width: 100%;
  margin: 0px;
  flex-direction: column;
  gap: 1rem;
}

ul .card {
  /* width: 80%; */
  width: 220px;
  height: 160px;
  padding: 8px;
}

ul .card h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

ul .card .circle {
  width: 100px;
  height: 100px;
}

ul .circle span {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

ul h2 {
  margin: 12px 0px;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

  h1 {
    font-size: 22px;
    margin: 10px 0px;
  }

  #tabela {    
    width: 100%;
    max-height: calc(100vh - 45px);
  }

  #tabela table {
    max-width: 100%;
    max-height: 60vh;
    overflow: auto;
    border-collapse: collapse;
  }

  #card-resumo {
    flex-wrap: wrap;
    width: 99%;
    height: 38vh;
  }

  .card-tabela {
    width: 33.33%;
    height: 50%;
    padding: 8px;
  }

  .card-tabela h3 {
    font-size: 10px;
    margin-bottom: 10px;
  }

  #corpo-tabela {
    max-width: 100%;
    max-height: 100%;
  }

  #tabela th,
  #tabela td {
    padding: 6px;  
  }

  table tr th {
    font-size: 12px;
  }

  table tr td {
    font-size: 10px;
  }

  .circle-tabela {
    width: 65px;
    height: 65px;
  }

  .circle-tabela span {
    font-size: 22px;
  }
}


@media screen and (min-width:767px) and (max-width:960px) {
  nav {
    position: fixed;
    width: 30%;
  }

  .logo{
    width: 150px;
    height: 150px;
  }
  
  .logo img {
    width: 140px;
  }

  label {
    width: 85%;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
  }

  #periodo-data label {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
  }

  .nav-items input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    font-size: 14px;
  }

  .nav-items button {
    width: 100%;
    margin-top: 16px;
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
    margin: 16px auto 16px auto;
    text-align: center;
  }

  .container {
    width: 70%;
    margin: 0 auto 0 30%;
    justify-content: center;
  }

  .menu {
    width: 97.5%;
    max-height: 100%;
  }

  .menu ul {
    width: 100%;
  }
  

  .menu li a {
    padding: 1.2rem;
    font-size: 1rem;
  }

  .menu li .content {
    padding: .8rem;
    width: 100%;
  }

  .menu li .content,
  .menu li .content.show h2 {
    font-size: 1.1rem;
  }

  /* Estiliza o conteúdo quando está visível */
  .menu li .content.show {
    width: 100%;
  }

  #chamadas-internas-efetuadas,
  #chamadas-externas-efetuadas,
  #resumo-chamadas-efetuadas,
  #chamadas-externas-recebidas,
  #tempo-chamada-externa,
  #chamadas-internas-recebidas,
  #tempo-chamada-interna,
  #resumo-chamadas-recebidas {
    margin: 8px 0px;
    gap: 5px;
  }

  .menu .card h3 {
    font-size: 12px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }

  .menu .circle {
    width: 70px;
    height: 70px;
  }
  
  .menu .circle span {
    font-size: 28px;
  }

  #tempo-chamada-externa-efetuada,
  #tempo-chamada-externa-recebida,
  #tempo-chamada-interna-efetuada,
  #tempo-chamada-interna-recebida {
    font-size: 20px;
  }

  #tempo-chamada-externa .card,
  #tempo-chamada-interna .card {
    width: 125px;
    height: 145px;
    padding: 10px;
  }

  #tabela {
    
    width: 100%;
    height: calc(100vh - 70px);
    flex-direction: column;
  }

  #tabela table {
    max-width: 99%;
    height: 100%;
    overflow: auto;
    flex-grow: 2;
  }

  #card-resumo {
    flex-grow: 1;
    flex-wrap: wrap;
    width: 99%;
    height: 10%;
  }

  .card-tabela {
    width: 50%;
    height: 120px;
    padding: 10px;
  }

  .card-tabela h3 {
    font-size: 12px;
  }

  #corpo-tabela {
    width: 100%;
    height: 70%;
  }

  #tabela th,
  #tabela td {
    padding: 5px;  
  }

  .circle-tabela {
    width: 75px;
    height: 75px;
  }

  .circle-tabela span {
    font-size: 28px;
  }

}
